@import "tailwindcss";

@theme {
  --color-unite-black: #050505;
  --color-unite-dark: #0f0f0f;
  --color-unite-accent: #d1a956;
  --color-unite-blue: #ddb25d;
}

body {
  background-color: var(--color-unite-black);
  color: white;
  font-family: sans-serif;
}

/* Un efecto de cristal para las tarjetas */
.glass-card {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}